<%=name%>, your age is <%= age%>.
<%=name%>, now enter your 3 favorite numbers.
	<form action = "/favorite_numbers" method = "post">
		<input type = "number" name = "user_fav_number1">
		<br>
		<input type = "number" name = "user_fav_number2">
		<br>
		<input type = "number" name = "user_fav_number3">
		<br>
		<input type = "submit">
	</form>
