<!DOCTYPE html>
<html>
	<head>
		<title>Web app.</title>
	</head>
	<body>
		<h2>What is your name?</h2>
		<form action = "/input" method = "post">
			<input type = "text" name = "user_name">
			<br>
			<input type = "submit">
		</form>
	</body>
</html>